
body{
    font-family: Century Gothic;
    margin: 0px;
}
/* PAGINA PRINCIPAL */
#principal{
    
    background-color: rgb(65, 62, 62);
    color: white;
}
#encabezado h1{
    background-image: url(Imagenes/fondoheader.jpg);
    margin: 0px;
    background-position: center;
    height: 70px;
    text-align:center;
    padding: 50px;
    color: black;
    font-size: 60px;
   

}

/* #encabezado div h1{
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
} */

/* #encabezado {
    background-color: rgb(77, 70, 70);
    position: center;
    color:black;
    padding: 20px;
    
    height: 200px;
    font-size: 30px;
    
    background-repeat: no-repeat;
    background-position: center;
}
#encabezado div{
    text-align: center;
} */
#barra ul{
    list-style: none;
    padding: 0px;
    text-align: center;
    background-color: black;   
    border: 20px solid black ; 
    margin:0px; 
}
#barra ul li  { 
    /*  */
    display: inline;   
}
#barra ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding:  8px 10px;
    display: inline-block;     
}
#barra ul li a:hover{
    background-color: rgb(97, 64, 45) ; /* cuando el mouse se acerque*/
    color: black;
}


nav div a:hover{
    background-color: brown;
    color: cornflowerblue;
}

.informacion
{
    text-align: justify;
}


#footer
{
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}




/* SOCIAL */
.botonimagen{
    background-image:url(https://icon-icons.com/icons2/195/PNG/48/YouTube_23392.png);
    width: 52px;
    height: 52px;
    
    

}

