/*--------------------------INTEGRANTES--------------------- */
.body_integrantes {
  background-color: rgb(25, 34, 46);
  font-family: Century Gothic;
  margin: 0px;
  color: white;
}

#titulo_integrantes div {
  text-align: center;
  background-color: rgb(33, 73, 110);
  color: white;
  margin: 0px;
  padding: 40px;
  background-image: url(../Imagenes/integrantes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -30px;
  zoom: 120%;
}

.pagina ul {
  list-style: none;
  padding: 0px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(2, 1, 1);
  margin: 0px 0px;
}
.pagina ul li {
  display: inline; /* hacer los links horizontales*/
}
.pagina ul li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  margin: 3px;
  display: inline-block;

  border-radius: 5px;
  border-width: 1px;
}
/* accion de heredación para darle un estilo a los "botones", */
.pagina ul li a:hover {
  background-color: rgb(83, 76, 72); /* cuando el mouse se acerque*/
  color: black;
  border-radius: 5px;
}

.indice ul {
  list-style: none;
  margin: 0px;
  text-align: center;
  background-color: rgb(20, 27, 37);
  border-style: inset;
  border-radius: 10px;
  border-width: 1px 4px;
}

.indice ul li {
  display: inline;
}
.indice ul li a {
  font-size: 20px;
  color: rgb(196, 186, 186);
  text-decoration: none;
  padding: 8px 10px;
  display: inline-block;
  border-style: inset;
  border-radius: 5px;
  border-width: 1px;
  margin: 3px;
}
.indice ul li a:hover {
  background-color: rgb(47, 62, 83); /* cuando el mouse se acerque*/
  color: white;
  border-radius: 3px;
}
.contenedor {
  background-color: rgb(46, 63, 87);
  color: aliceblue;
  text-align: center;
  padding: 15px;
  margin: 20px 12px;
  border-radius: 10px;
  box-shadow: 3px 3px 13px rgb(255, 255, 255);
}

.info_integrante {
  overflow: hidden;
  background-color: rgb(56, 79, 110);
  border-radius: 10px;
  padding: 15px;
}
/* EDICIÓN DE LAS IMAGENES */
.img_integrantes {
  border-radius: 9px;
  margin: 13px;
  box-shadow: 5px 5px 10px rgb(193, 196, 197);
}
#img_chester {
  float: left;
  width: 200px;
}
#img_brad {
  float: left;
  width: 500px;
}
#img_dave {
  float: right;
  width: 300px;
}
#img_joe {
  float: right;
  width: 300px;
}
#img_mike {
  float: left;
  width: 300px;
}

/* ************* CANCIONES *********** */

.body_canciones {
  color: white;
  background-color: rgb(78, 80, 74);
  font-family: Century Gothic;
  margin: 0px;
}
.header_logo {
  background-image: url(../Imagenes/fondoheader.jpg);
  margin: 0px;
  background-position: center;
  height: 110px;
  text-align: center;
  padding: 50px;
}
.class_album {
  background-color: rgb(54, 54, 50);
  margin: 30px 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(25, 34, 46);
}

.class_album p {
  text-align: justify;
  background-color: rgb(94, 100, 100);
  border-radius: 20px;
  padding: 10px;
}
.titulo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.class_album p {
  font-family: Century Gothic;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

/* ******** iMAGENES DE LOS ALBUMES */
#img1 {
  float: right;
  width: 400px;
  height: 400px;
}
